/* regole generali */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#009787 20%, #D6DAD3 0%);
}

.box {
  width: 1400px;
  height: 800px;
  display: flex;
}

.grey {
  color: #AFAFAF;
}

/* regole relative al lato sinistro dell'app con il menú */
.nav {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav .menu {
  width: 100%;
  height: 12%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E9E9E9;
}

.nav .menu .user {
  width: 50%;
  display: flex;
  align-items: center;
}

.nav .menu .user img {
  margin-right: 10px;
  width: 30%;
  border-radius: 100%;
}

.nav .menu .actions i {
  margin: 0 10px;
  font-size: 24px;
}

.nav .notification {
  width: 100%;
  height: 12%;
  background-color: #73DAFD;
}

.nav .search {
  width: 100%;
  height: 6%;
  background-color: #E9E9E9;
}

.nav .friends {
  width: 100%;
  height: 70%;
  background-color: #FFFFFF;
}

/* regole relative al lato destro dell'app con la chat */
.main {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #D6DAD3;
}

.main .info {
  width: 100%;
  height: 12%;
  background-color: #E9E9E9;
}

.main .chat {
  width: 100%;
  height: 76%;
  background-image: url("../img/mine.jpg");
}

.main .type {
  width: 100%;
  height: 12%;
  background-color: #E9E9E9;
}
