/* regole generali */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#009787 20%, #D6DAD3 0%);
}

.box {
  width: 1400px;
  height: 800px;
  display: flex;
}

/* regole generali per colori e dimensioni del testo */
.grey {
  color: #AFAFAF;
}

.dark {
  color: #687275;
}

.black {
  color: #000000;
}

.big-text {
  font-size: 18px;
}

.small-text {
  font-size: 14px;
}

i {
  font-size: 24px;
}

/* regole relative al lato sinistro dell'app con il menú */
/* regole generali lato sinistro */
.nav {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* regole menú in alto (sia in alto a sinistra nel nav utente che in alto a destra sopra la chat)*/
.menu {
  height: 10%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E9E9E9;
}

.menu .info {
  width: 50%;
  display: flex;
  align-items: center;
}

.menu .info img {
  margin-right: 20px;
  height: 60px;
  border-radius: 100%;
}

.menu .actions i {
  margin: 0 10px;
}

/* regole notifiche */
.nav .notification {
  height: 12%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  background-color: #73DAFD;
}

.nav .notification i {
  margin-right: 10px;
  padding: 20px 15px;
  border-radius: 100%;
  color: #73DAFD;
  background-color: #FFFFFF;
}

.nav .notification .instructions a {
  color: #457384;
}

/* regole barra di ricerca */
.nav .search {
  height: 8%;
  padding: 10px;
  background-color: #E9E9E9;
}

.nav .search-box {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.nav .search-box i {
  margin-left: 30px;
  font-size: 20px;
}

.nav .search-box input {
  width: 82%;
  border: none;
}

/* regole lista amici */
.nav .friend-list {
  height: 70%;
  overflow: auto;
  background-color: #FFFFFF;
}

.nav .friend-list .friend {
  height: 101px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E7EAEA;
}

.nav .friend-list .friend.selected {
  background-color: #E7EAEA;
}

.nav .friend-list .friend .info {
  display: flex;
}

.nav .friend-list .friend .info img {
  margin: 0 20px;
  height: 80px;
  border-radius: 100%;
}

.nav .friend-list .friend .info .small-text{
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: " ...";
}

.nav .friend-list .friend .last-online {
  margin-right: 10px;
  text-align: right;
}

/* regole relative al lato destro dell'app con la chat */
/* regole generali lato destro */
.main {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #D6DAD3;
}

/* regole chat */
.main .chat {
  height: 80%;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-image: url("../img/mine.jpg");
}

.main .chat .message {
  margin: 10px 0;
  padding: 5px;
  width: 300px;
  border-radius: 10px;
}

.main .chat .message.user {
  background-color: #C9FBB6;
  align-self: flex-end;
}

.main .chat .message.friend {
  background-color: #FFFFFF;
}

.main .chat .message .text {
  margin: 10px;
}

.main .chat .message .data {
  font-size: 12px;
  text-align: right;
}

/* mi serve per aggiungere 50px di padding dopo l'ultimo messaggio o altrimenti in overflow sparisce */
.main .chat::after {
  content: "";
  padding-bottom: 50px;
}

/* regole barra di input in basso */
.main .type {
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #E9E9E9;
}

.main .type .spaziatura {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .type input {
  width: 80%;
  height: 70%;
  padding: 0 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}
