<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BoolzApp</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>

    <!-- div contenitore con lo sfondo -->
    <div id="app" class="container">

      <!-- div contenente l'intera webapp -->
      <div class="box">

        <!-- parte a sinistra dell'app -->
        <div class="nav">

          <!-- menú utente -->
          <div class="menu">

            <!-- parte sx con l'avatar -->
            <div class="info">
              <img src="img/avatar_io.jpg" alt="">
              <div class="black big-text">Stella Leone</div>
            </div>

            <!-- parte dx con il menu -->
            <div class="actions">
              <i class="fas fa-circle-notch grey"></i>
              <i class="fas fa-comment-alt grey"></i>
              <i class="fas fa-ellipsis-v grey"></i>
            </div>
          </div>

          <!-- sezione notifiche -->
          <div class="notification">
            <i class="fas fa-bell-slash"></i>
            <div class="instructions">
              <div>Ricevi notifiche di nuovi messaggi</div>
              <a href="#" class="grey">Attiva notifiche desktop</a>
            </div>
          </div>

          <!-- barra di ricerca -->
          <div class="search">
            <div class="search-box">
              <i class="fas fa-search grey"></i>
              <input class="small-text" placeholder="Cerca o inizia una nuova chat">
            </div>
          </div>

          <!-- lista degli amici e le relative chat -->
          <div class="friend-list">

            <!-- amico 1 -->
            <div v-for="(friend, i) in contatti" :key="i" class="friend" :class="{selected: i === selezionato}" @click="selectProfile(i)">

              <!-- avatar + nome amico -->
              <div class="info">
                <img :src="friend.avatar" alt="">
                <div>
                  <div class="black big-text">{{friend.nome}}</div>
                  <div class="grey small-text">{{friend.chat[friend.chat.length - 1].testo}}</div>
                </div>
              </div>

              <!-- ultima volta che si é connesso -->
              <div class="last-online grey small-text">{{friend.chat[friend.chat.length - 1].data}}</div>

            </div>

          </div>

        </div>

        <!-- parte a destra dell'app -->
        <div class="main">

          <!-- info amico selezionato -->
          <div class="menu">

            <!-- parte sx con l'avatar -->
            <div class="info">
              <img :src="contatti[selezionato].avatar" alt="">
              <div>
                <div class="black big-text">{{contatti[selezionato].nome}}</div>
                <div class="grey">Ultimo accesso oggi alle {{contatti[selezionato].chat[contatti[selezionato].chat.length - 1].data}}</div>
              </div>
            </div>

            <!-- parte dx con il menu -->
            <div class="actions">
              <i class="fas fa-search grey"></i>
              <i class="fas fa-paperclip grey"></i>
              <i class="fas fa-ellipsis-v grey"></i>
            </div>
          </div>

          <!-- sezione chat -->
          <div class="chat">

            <div v-for="(message, i) in contatti[selezionato].chat" :key="i" class="message" :class="message.inviato ? 'user' : 'friend'">
              <div class="text black big-text">{{message.testo}}</div>
              <div class="data grey">{{message.data}}</div>
            </div>

          </div>

          <!-- barra di input -->
          <div class="type">

            <div class="spaziatura">
              <i class="far fa-smile dark"></i>
            </div>

            <input placeholder="Scrivi un messaggio">

            <div class="spaziatura">
              <i class="fas fa-microphone dark"></i>
            </div>

          </div>

        </div>

      </div>

    </div>

    <script type="text/javascript" src="js/script.js"></script>

  </body>
</html>
